name: DB Migration Dev
run-name: ${{ github.actor }} is running migration...
on:
  push:
    branches:
      - master
jobs:
  PrismaDatabaseMigrationDev:
    environment: development
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
    steps:
      - run: ls -la
      - run: apt update && apt install npm
      - run: npm install -g prisma
      - run: prisma migrate deploy
        working-directory: database/prisma

  PrismaDatabaseMigrationProd:
    needs: PrismaDatabaseMigrationDev
    environment: production
    runs-on: ubuntu-latest
    container:
      image: node:18-alpine
      env:
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
    steps:
      - run: echo 'hello world'
