name: DB Migration Dev
run-name: ${{ github.actor }} is running migration...
on:
  push:
    branches:
      - master
jobs:
  PrismaDatabaseMigrationDev:
    environment: development
    runs-on: ubuntu-latest
    container:
      image: node:18-alpine
    steps:
      - env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: npm install -g prisma
        run: cd database/prisma
        run: prisma migrate deploy

  PrismaDatabaseMigrationProd:
    needs: PrismaDatabaseMigrationDev
    environment: production
    runs-on: ubuntu-latest
    container:
      image: node:18-alpine
    steps:
      - env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: echo 'hello world'
